<%- include("header") -%>

<h1>Edit chain</h1>

<form method="POST" action="/restaurantChains/edit/<%=id%>">
  <div>
    <label for="chain"><strong>Chain:</strong> </label>
    <input type="text" name="name" value="<%=name%>" />
  </div>

  <br />

  <div>
    <label for="manager"><strong>Manager:</strong> </label>
    <input type="text" name="manager" value="<%=manager%>" />
  </div>

  <br />

  <button type="submit" style="display: inline-block">edit</button>

  <button style="display: inline-block">
    <a href="/restaurantChains/delete/<%=id%>">delete</a>
  </button>
</form>

<br />

<button>
  <a href="/restaurantChains">back</a>
</button>

<hr />

<%- include("footer") -%>
