<%- include("header") -%>

<h1>Chain: <%=name%></h1>

<div>
  <p><strong>Chain:</strong> <%=name%></p>
  <p><strong>Manager:</strong> <%=manager%></p>
</div>

<hr />

<h2>Edit</h2>

<form method="POST" action="/restaurantChains/edit/<%=id%>">
  <div>
    <label for="chain"><strong>Chain:</strong> </label>
    <input type="text" name="name" value="<%=name%>" />
  </div>
  <div>
    <label for="manager"><strong>Manager:</strong> </label>
    <input type="text" name="manager" value="<%=manager%>" />
  </div>

  <br />

  <button type="submit">Edit</button>
</form>

<br />

<button>
  <a href="/restaurantChains/delete/<%=id%>">delete</a>
</button>

<hr />

<button>
  <a href="/restaurantChains">back</a>
</button>

<%- include("footer") -%>
