<%- include("header") -%>

<h1>Edit: <%=name%></h1>

<div>
  <p><strong>Chain:</strong> <%=name%></p>
  <p><strong>Manager:</strong> <%=manager%></p>
</div>

<hr />

<form method="PUT" action="/restaurantChains/edit/<%=id%>">
  <div>
    <label for="chain"><strong>Chain:</strong> </label>
    <input type="text" name="name" value="<%=name%>" />
  </div>
  <div>
    <label for="manager"><strong>Manager:</strong> </label>
    <input type="text" name="manager" value="<%=manager%>" />
  </div>

  <br />

  <!-- <input type="hidden" name="_method" value="PUT" /> -->
  <button type="submit">Edit</button>
</form>

<br />

<br />

<a href="/restaurantChains/<%=id%>">back</a>

<%- include("footer") -%>
