<%- include("header") -%>

<h1><%= sectionTitle %></h1>

<form method="post" action="/restaurantChains">
  <input type="text" name="name" placeholder="Restaurant chain" />
  <input type="text" name="manager" placeholder="Manager" />
  <button type="submit">Add</button>
</form>

<hr />
<% restaurantsChains.forEach(function(restaurant){ %>

<div>
  <p><strong>Restaurant chain:</strong> <%=restaurant.name%></p>
  <p><strong>Manager:</strong> <%=restaurant.manager%></p>

  <button>
    <a href="/restaurantChains/<%=restaurant._id%>">See more</a>
  </button>
</div>

<hr />

<% }) %> <%- include("footer") -%>
